package event

import (
	"github.com/hmbil694/co-author-go/views/ui/layout"
)

templ EventPage() {
	@layout.Layout() {
		<div class="h-full flex flex-col gap-5 p-4">
			<div class="flex flex-col lg:flex-row lg:justify-between gap-2">
				<h1 class="text-5xl font-bold card-title">Event name</h1>
			</div>
			<div class="">
				helo event
			</div>
		</div>
	}
}
